@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --color-font: #141414;
    --color-body-bg: #FFFFFF;
    --color-body-bg-two: #f2f4f8;
    --color-header: #FFFFFF;
    --akcent: #4E50FF;
    --akcent-two: #CECFFF;
    --akcent-tree: #4E50FF;
    --footer: #4E50FF;
    --akcent-four: #CECFFF;
    --red: #f81c5e;
    --green: #00bd6e;
    --border: #4d4d4d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-font: #e1e3e6;
        --color-body-bg: #141414;
        --color-body-bg-two: #4e4e4e;
        --akcent-two: #222222;
        --akcent-tree: #c4c4c4;
        --akcent-four: #CECFFF;
        --color-header: #222222;
        --footer: #222222;
        --border: #4d4d4d;
    }
}


* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

a {
    color: #000;
}

html,
body {
    margin: 0px;
    background-color: #131313;
    z-index: 0;
    font-size: 20px;
}

header {
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 0 10px 0 #00000023;
    background-color: #212121;
    z-index: 100;
    color: #fff;
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    gap: 10px;
}

.header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header nav a {
    opacity: 0.6;
    color: #fff;
}

.logo {
    height: 30px;
    width: fit-content;
}

#bg-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 2;
}


main {
    height: 100vh;
    width: 100%;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    z-index: 10;
    position: relative;
    color: #fff;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.blur {
    backdrop-filter: blur(10px);
    background-color: #000000cb;
    width: 90%;
    height: 80vh;
    padding: 10px;
    border-radius: 10px;
}