@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --color-font: #141414;
    --color-body-bg: #FFFFFF;
    --color-body-bg-two: #f2f4f8;
    --color-header: #FFFFFF;
    --akcent: #4E50FF;
    --akcent-two: #CECFFF;
    --akcent-tree: #4E50FF;
    --footer: #4E50FF;
    --akcent-four: #CECFFF;
    --red: #f81c5e;
    --green: #00bd6e;
    --border: #4d4d4d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-font: #e1e3e6;
        --color-body-bg: #141414;
        --color-body-bg-two: #4e4e4e;
        --akcent-two: #222222;
        --akcent-tree: #c4c4c4;
        --akcent-four: #CECFFF;
        --color-header: #222222;
        --footer: #222222;
        --border: #4d4d4d;
    }
}


* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

a {
    color: #000;
}

html,
body {
    margin: 0px;
    padding: 30px 0px;

}

header {
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 0 10px 0 #00000023;
    background-color: #fff;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

.header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header nav a {
    opacity: 0.6;
}

.logo {
    height: 30px;
    width: fit-content;
}

main {
    min-height: 100vh;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.page {
    display: flex;
    flex-direction: row;
    gap: 30px;
    min-height: 100vh;
    align-items: center;
    scroll-snap-align: start;
}

#bg-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
}

main img {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    background: #fff;
}

.cont {
    width: 100%;
    max-width: 500px;
    backdrop-filter: blur(10px);
    background: #fff;
    padding: 15px 10px;
    border-radius: 10px;
}

a.bt,
button {
    background-color: var(--akcent);
    padding: 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid var(--akcent);
}



.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    align-items: start;
    justify-content: start;
    height: min-content;
}

.grid img {
    flex-grow: 1;
    flex-basis: 100px;
    max-height: 50px;
    object-fit: scale-down;
    border: none;
}

.grid img:hover {
    transform: scale(1.1);
}