header {
	position: sticky;
	top: -33px;
	width: 100%;
	background-color: var(--color-header);
	height: fit-content;
	padding: 10px;
	box-shadow: 0 0 10px 0 #0000001f;
	z-index: 100;
}

header .header {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0px 20px;
	gap: 10px;
}

header .header .minipan {
	display: flex;
	justify-content: space-between;
}

header .header .minipan span {
	display: flex;
	gap: 10px;
	align-items: center;
}

header .header .minipan span a {
	color: var(--color-font);
	opacity: 0.4;
	font-size: 12px;
}

header .header .mainpan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

header .header .minipan .betatest {
	padding: 2px;
	border: 1px solid rgb(0, 0, 0);
	color: rgb(0, 0, 0);
	opacity: 1;
	background-color: rgb(255, 230, 0);
}

header .header .minipan .betatest i {
	font-size: 10px;
}

header .header .mainpan nav a {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	color: var(--color-font);
}

header .header .minipan span a.info {
	background: #cdd0d5;
	padding: 3px 8px;
	color: #1d1b1b;
	border-radius: 5px;
}

header .header .mainpan nav a i {
	font-size: 20px;
}

header .header .mainpan nav a span {
	font-size: 14px;
}

header .header nav {
	flex-grow: 0;
}

header .header .search {
	display: flex;
	flex-grow: 10;
	width: 100%;
	background-color: var(--akcent);
	padding: 2px;
	border-radius: 8px;
}

header .header .search input {
	width: 100%;
	border: none;
	border-radius: 6px;
	padding: 10px 15px;
}

header .header .search button {
	width: fit-content;
	padding: 2px;
}

header .header nav {
	display: flex;
	align-items: stretch;
	gap: 30px;
	font-weight: 400;
	flex-grow: 0;
	max-width: fit-content;
}

/*#region мобильный адаптив*/
@media (max-width: 899px) {
	header {
		position: fixed;
		top: 0px;
	}

	header .header .minipan {
		display: none;
	}

	header .header .logo {
		display: none;
	}

	header .header nav {
		position: fixed;
		bottom: 0px;
		background-color: var(--color-header);
		width: 100%;
		max-width: none;
		left: 0px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		padding: 10px 10px 15px 10px;
		box-shadow: 0 0 10px 0 #0000001f;
		z-index: 100;
		gap: 10px;
	}

	header .header .mainpan nav a {
		font-size: 12px;
		flex-direction: row;
		gap: 8px;
		padding: 4px 6px;
		border-radius: 8px;
	}

	header .header .mainpan nav a:active {
		background: var(--akcent-two);
		color: var(--akcent);
		padding: 4px 6px;
	}

	header .header {
		padding: 0px;
	}
}

/*#endregion Мобильный адаптив*/