form.addtew {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 15px;
}

form.addtew textarea {
	width: 100%;
	height: fit-content;
	min-height: 60px;
	max-height: 300px;
	font-size: 14px;
}


@media (max-width: 799px) {
	form.FormAddRew {
		position: sticky;
		bottom: 0px;
		background: var(--color-body-bg);
		border-radius: 10px;
		border-top: 1px solid;
	}
}