@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-font: #141414;
  --color-body-bg: #FFFFFF;
  --color-body-bg-two: #f2f4f8;
  --color-header: #FFFFFF;
  --akcent: #4E50FF;
  --akcent-two: #CECFFF;
  --akcent-tree: #4E50FF;
  --akcent-four: #CECFFF;
  --red: #f81c5e;
  --border: #4d4d4d;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-font: #e1e3e6;
    --color-body-bg: #141414;
    --color-body-bg-two: #4e4e4e;
    --akcent-two: #222222;
    --akcent-tree: #c4c4c4;
    --akcent-four: #CECFFF;
    --color-header: #222222;
    --border: #4d4d4d;
    }
}

html, body{
  margin: 0px;
  background-color: var(--color-body-bg);
  color: var(--color-font);
}

*{
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  outline: none;
  text-decoration: none;
}

main{
  min-height: fit-content;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
main.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
hr{
  border: none;
  height: 2px;
  background: #c4c4c4;
  border-radius: 100px;
}
form.auth{
  background-color: var(--color-header);
  padding: 2px;
  box-shadow: 0 0 10px 0 #0000001f;
  width: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form.auth div{
  width: 50%;
  padding: 20px;
}
form.auth div.back{
  background: var(--color-body-bg);
  border-radius: 0px 9px 9px 0px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
form input{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--color-header);
  border: 2px solid  var(--border);
  color: var(--color-font);
}
form input:hover{
  border: 2px solid var(--akcent);
}
form.auth button{
  width: 100%;
  background-color: var(--akcent);
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border: 2px solid var(--akcent);
}
p.center{
  text-align: center;
}
a{
  color: var(--akcent);
}
.logo{
  max-height: 40px;
}
.mini{
  opacity: 0.6;
  font-size: 12px;
  margin: 0px;
}
a.bt, button{
  width: 100%;
  background-color: var(--akcent);
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border: 2px solid var(--akcent);
}

main .page .bank{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: end;
}


.pay .cartpanel{
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

form.pay label{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

main .page .bank img{
  max-width: 100px;
  filter: grayscale(100%);
}
main .page .duo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*#region мобильный адаптив*/
@media (max-width: 899px) {
  body{
    padding: 50px 0px 70px 0px;
    font-size: 14px;
  }
}
/*#endregion Мобильный адаптив*/


@keyframes shine {
  to {
      background-position-x: -200%;
  }
}

.load{
  background: linear-gradient(90deg, var(--color-body-bg), var(--color-body-bg), var(--color-body-bg-two), var(--color-body-bg));
  animation: 0.8s shine linear infinite;
  background-size: 200% 100%;
  border-radius: 5px;
  width: 100%;
  min-height: 16px;
  border: 2px solid transparent;
  margin: 10px 0px;
}
main.profile .page .session .cart.load{
  min-height: 100px;
}
main.profile .page .cartpanel .load{
  background: linear-gradient(90deg, var(--akcent), var(--akcent), var(--akcent-four), var(--akcent));
  animation: 0.8s shine linear infinite;
  background-size: 200% 100%;
  border-radius: 5px;
  width: 100%;
  min-height: 16px;
  border: 2px solid transparent;
}

